[Unit]
Description=blackfire container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker run -e BLACKFIRE_SERVER_ID -e BLACKFIRE_SERVER_TOKEN --name blackfire blackfire/blackfire
ExecStop=/usr/local/bin/docker stop blackfire ; /usr/bin/docker rm -fv blackfire

[Install]
WantedBy=multi-user.target
