[Unit]
Description=mailcatcher container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker run --name mailcatcher timonier/mailcatcher:0.6.4 --http-port 80 --ip 0.0.0.0 --smtp-port 25
ExecStop=/usr/local/bin/docker stop mailcatcher ; /usr/local/bin/docker rm -f mailcatcher

[Install]
WantedBy=multi-user.target
