[Unit]
Description=mysql container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker run --name mysql -e MYSQL_ALLOW_EMPTY_PASSWORD=yes -v /srv/mysql:/var/lib/mysql mysql:5.7 --sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY"
ExecStop=/usr/local/bin/docker stop mysql ; /usr/local/bin/docker rm -fv mysql

[Install]
WantedBy=multi-user.target
