[Unit]
Description=MySQL container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run -e MYSQL_ALLOW_EMPTY_PASSWORD=yes --name mysql --net host -v /srv/mysql:/var/lib/mysql mysql:5.6
ExecStop=/usr/bin/docker stop mysql ; /usr/bin/docker rm -f mysql

[Install]
WantedBy=multi-user.target
