[Unit]
Description=npm-proxy-cache container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker run -v /srv/npm-proxy-cache:/srv/npm-proxy-cache --name npm-proxy-cache timonier/npm-proxy-cache:0.4.2 -e -h 0.0.0.0 -p 80 -s /srv/npm-proxy-cache -t 432000
ExecStop=/usr/local/bin/docker stop npm-proxy-cache ; /usr/local/bin/docker rm -fv npm-proxy-cache

[Install]
WantedBy=multi-user.target
