[Install]
WantedBy=multi-user.target

[Service]
Environment="IMAGE=timonier/npm-proxy-cache:latest"
Environment="NAME=npm-proxy-cache"
Restart=always
TimeoutStartSec=0

ExecStart=/usr/local/sbin/docker run \
    --name "${NAME}" \
    --volume /srv/system/npm-proxy-cache:/srv/npm-proxy-cache \
    "${IMAGE}" npm-proxy-cache \
        --expired \
        --host 0.0.0.0 \
        --port 80 \
        --storage /srv/npm-proxy-cache \
        --ttl 432000

ExecStop=/usr/local/sbin/docker stop \
    "${NAME}"

ExecStopPost=/usr/local/sbin/docker rm \
    --force \
    --volumes \
    "${NAME}"
