[Unit]
Description=postgresql container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker run -v /srv/postgresql:/var/lib/postgresql/data --name postgresql postgres:9.4
ExecStop=/usr/local/bin/docker stop postgresql ; /usr/local/bin/docker rm -fv postgresql

[Install]
WantedBy=multi-user.target
