[Install]
WantedBy=multi-user.target

[Service]
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
RemainAfterExit=true
Type=oneshot

ExecStart=/usr/bin/powertop \
    --auto-tune
