[Unit]
Description=rabbitmq container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker run --name rabbitmq rabbitmq:3.6.2-management
ExecStop=/usr/local/bin/docker stop rabbitmq ; /usr/local/bin/docker rm -fv rabbitmq

[Install]
WantedBy=multi-user.target
