[Install]
WantedBy=multi-user.target

[Service]
Environment="IMAGE=tianon/rawdns:latest"
Environment="NAME=rawdns"
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
Restart=always
TimeoutStartSec=0

ExecStartPre=/usr/local/sbin/rawdns-update

ExecStart=/usr/local/sbin/docker \
    run \
    --log-opt max-size=5m \
    --name "${NAME}" \
    --net host \
    --volume /etc/rawdns:/etc/rawdns:ro \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    "${IMAGE}" rawdns \
        /etc/rawdns/rawdns.json

ExecStop=/usr/local/sbin/docker \
    stop \
    "${NAME}"

ExecStopPost=/usr/local/sbin/docker \
    rm \
    --force \
    --volumes \
    "${NAME}"

[Unit]
Requires=docker.service
