[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    lg = log --graph --pretty=tformat:\"%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset\" --abbrev-commit --date=relative
    oops = commit --amend -C HEAD
