[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	amend = commit --amend
	branches = branch -a
	discard = checkout --
	lg = log --graph --pretty=tformat:\"%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset\" --abbrev-commit --date=relative
	oops = commit --amend -C HEAD
	stashes = stash list
	tags = tag
	uncommit = reset --mixed HEAD~
	unstage = reset -q HEAD --
