[Desktop Entry]
Categories=Network;InstantMessaging;
Exec=/opt/rambox/rambox
Icon=/usr/share/icons/rambox.png
Name=Rambox
Path=/opt/rambox/
Terminal=false
Type=Application
