"*":
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "dev-live-reload"
      "open-on-github"
      "package-generator"
    ]
  editor:
    showInvisibles: true
  welcome:
    showOnStartup: false
