[Install]
WantedBy=default.target

[Service]
EnvironmentFile=%h/.env
Environment="IMAGE=timonier/mailcatcher:latest"
Environment="NAME=mailcatcher-%u"
ExecStart=/usr/local/sbin/docker run --name "${NAME}" --rm "${IMAGE}" mailcatcher --foreground --http-port 80 --ip 0.0.0.0 --smtp-port 25
TimeoutStartSec=0
