[Install]
WantedBy=default.target

[Service]
EnvironmentFile=%h/.env
Environment="IMAGE=selenium/standalone-chrome:latest"
Environment="NAME=selenium-chrome-%u"
ExecStart=/usr/local/sbin/docker run --init --name "${NAME}" --rm "${IMAGE}"
TimeoutStartSec=0
